body {
    background-color: darkcyan;
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
}

h1 {
    background-color: whitesmoke;
    color: goldenrod;
    font-size: 65px;
    padding: 15px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    color: goldenrod;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    color: goldenrod;
}

table {
    margin: 0 auto;
   border: medium solid white;
    
}

td, th {
    border: medium solid white;
    padding: 10px;
}

td {
    font-size: 20px;
    font-family: Monospace;
    
}

.table-title {
    background-color: darkcyan;
}

.format {
    color: goldenrod;
    font-size: 35px;
    text-align: center;
    
}